button {
    position: relative;
    background-color: rgb(4, 170, 109);
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 15px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }

p {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 10px;
}
input {
    width: 40px;
}

div {
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px;
    width: 100px;
    text-align: center;
}